extends layout

block content
	div.container
		#header-2
			#title
				a(href="/profile")
					img(src='/images/title.png')
			#user
				img(src= user_pic)
				p #{user_name}
				a(href="/logout")
					p Logout
		ol(class="breadcrumb")
			li
				a(href="/profile") Home
			li(class="active") Notifications
		#content
			div(class="panel panel-default")
				div(class="panel-heading")
					img(src='/images/title_notifications.png')
				div(class="panel-body")
					table(class="table")
						each notification, i in notifications
							tr
								td
									img(src='#{notification.icon}')
								td
									h5 #{notification.date}
									h4 #{notification.text}
								td
									if notification.deltaCash != 0
										h4(style="text-align: right") #{notification.deltaCash}&euro;

	div.container
		#footer-score
			div(id="footer")
				div.container
					p #{user_numVenues}
					img(src= "../images/venue_small.png")
					p #{user_cash}
					img(src= "../images/euro_symbol.png")